{% extends "base.html" %}

{% block body_content %}
    <div data-role="page" id="pageID">
        <div data-role="header" align="center">
            <div id="input_div">
                <input type="password" maxlength="10" id="token_input" data-clear-btn="True"></input>
            </div>

            <div id="notifications">
            </div>
        </div>

        <div class="ui-grid-b" data-role="content">
            <div id="left" class="ui-block-b">
                <ul data-role="listview" id="button_container" data-inset="true"> </ul>
            </div>

            <div id="center" class="ui-block-b">
                <ul data-role="listview" id="user_logins" data-inset="true"> </ul>
            </div>

            <div id="right" class="ui-block-b">
                <ul data-role="listview" id="user_info" data-inset="true"></ul>
                <div id="logout_container"></div>
            </div>
        </div>
    </div>

    <div data-role="page" id="info">
        <div data-role="header"><h1>Dodatni podaci</h1></div>
        <div data-role="content">
            <textarea id="additional_info_area"></textarea>
            <div id="dialog_buttons"></div>
        </div>
    </div>
{% endblock body_content %}

{% block footer_javascript_page %}
    <script language="JavaScript" type="text/javascript" src="/static/js/user_frontend.js"></script>
{% endblock footer_javascript_page %}

{% block head_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock head_css %}
