{%extends "base.html" %}

{% block body_content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div data-role="page" align="center">

<form data-ajax="false" method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="Prijavi se" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
