<html>
    {% block head %}
    <head>
        <title>{% block title %}Shollex{% endblock title %}</title>
        <link rel="stylesheet" href="/static/css/jquery.mobile-1.3.2.min.css" />
        <script src="/static/js/jquery-1.9.1.min.js"></script>
        <script src="/static/js/jquery.mobile-1.3.2.min.js"></script>

        {% block head_css %}{% endblock head_css %}
    </head>
    {% endblock head %}

    {% block body %}
    <body>
        {% block body_content %}
            <div id="header">
                {% block body_header %}
                {% endblock body_header %}
            </div>

            <div id="footer">
                {% block body_footer %}
                {% endblock body_footer %}
            </div>
        {% endblock body_content %}

    </body>
    {% endblock body %}

    {% block footer %}
        {% block footer_javascript %}
        {% endblock footer_javascript %}

        {% block footer_javascript_page %}
        {% endblock footer_javascript_page %}
    {% endblock footer %}
</html>
