.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 10px !important;
}

#token_input {
    text-align: center;
    font-size: 1.3em;
    height: 2.5em;
}

#input_div {
    width: 15em;
}

.ui-input-clear {
    top: 25% !important;
    padding: 10px;
}

#notifications {
    font-size: 1.5em;
}

#red {
    border-left: 5px solid #F00;
}

#green {
    border-left: 5px solid #0F0;
}

#logout {
    background: red;
    color: white;
    text-shadow: 0px 0px 0px black;
}
