{% extends "base.html" %}

{% block body_content %}
    <div id="table">
        <h1>{{ table_data.month.1 }}, {{ table_data.year }} </h1>
        <table  border="1px">
            <tr>
                <td>  </td>
            {% for day in table_data.days %}
                <td width="20px" align="center">
                    {{ day }}
                </td>
            {% endfor %}
                <td>Ukupno</td>
            <tr>

            {% for user, presence, total in table_data.user_info %}
            <tr>
                    <td>
                        <a href="/report/detailed/{{table_data.year}}/{{table_data.month.0}}/{{user.id}}/">{{ user }}</a>
                    </td>
                    {% for present in presence %}
                        {% if present %}
                            <td bgcolor="green"></td>
                        {% else %}
                            <td bgcolor="red"></td>
                        {% endif %}
                    {% endfor %}

                    <td> {{ total }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body_content %}

{% block footer_javascript %}
<script src="/static/js/admin_frontend.js"></script>
{% endblock %}

{% block head_css %}
{% endblock head_css %}
