{% extends "base.html" %}

{% block body_content %}
    {% for day_data in data %}
        <h2>{{ day_data.date }}</h2>

        <table id="table" data-role="table" class="ui-responsive table-stroke">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prijava</th>
                    <th>Odjava</th>
                    <th>Vreme</th>
                    <th>Mesto</th>
                </tr>
            </thead>
            <tbody>
            {% for e in day_data.entries %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.login.time }}</td>
                    <td>{{ e.logout.time }}</td>
                    <td>{{ e.worktime_delta_h}}</td>
                    <td>{{ e.mode }} </td>
                </tr>
            {% endfor %}
            <tr align="right">
                <td><b>Ukupno</b></td>
                <td></td>
                <td></td>
                <td>{{ day_data.total }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock body_content %}

{% block head_css %}
{% endblock head_css %}
