{% extends "base.html" %}

{% block body_content %}
<div data-role="page" id="first">
    <a  id="load_page_btn" data-role="button">Load</a>
    <a  id="load-report" data-role="button">Load</a>
    <div id="report-container" >
    </div>
</div>

{% endblock body_content %}

{% block head_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mobile-1.3.2.min.css">
{% endblock head_css %}

{% block footer_javascript_page %}
    <script language="JavaScript" type="text/javascript" src="/static/js/admin_frontend.js"></script>
{% endblock footer_javascript_page %}
