{% extends "base.html" %}

{% block body_content %}
<div id="pageID" data-role="page" class="unselectable">
    <div id="panelID" class="ui-block-b" data-role="panel" data-position="right" data-display="overlay" data-disposable="false">
        <fieldset data-role="controlgroup">
            <select name="select-choice" id="select-year" data-native-menu="false">
            </select>

            <select name="select-choice" id="select-month" data-native-menu="false">
            </select>
        </fieldset>

        <a id="load-report" data-role="button" data-theme="b">Učitaj</a>
    </div>

    <div id="header" data-role="header">
        <h1>INFO</h1>
        <a href="#panelID" align="right" data-role="button" class="ui-btn-right">Izaberi mesec</a>
    </div>

    <div id="contentID" data-role="content">
        <div id="report-container"><h2 align="center">Izberi mesec i klikni na dugme <e>učitaj</e>!</h3></div>
    </div>
</div>

{% endblock body_content %}

{% block footer_javascript %}
<script src="/static/js/admin_frontend.js"></script>
{% endblock %}

{% block head_css %}
{% endblock head_css %}
